In [69]:
import pandas as pd
import numpy as np

In [70]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
air_quality = fetch_ucirepo(id=360)

# data (as pandas dataframes)
X = air_quality.data.features
# y = air_quality.data.targets
#
# # metadata
# print(air_quality.metadata)
#
# # variable information
# print(air_quality.variables)

In [71]:
df = X.copy()
df

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,3/10/2004,18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,3/10/2004,19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,3/10/2004,20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,3/10/2004,21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,3/10/2004,22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,4/4/2005,10:00:00,3.1,1314,-200,13.5,1101,472,539,190,1374,1729,21.9,29.3,0.7568
9353,4/4/2005,11:00:00,2.4,1163,-200,11.4,1027,353,604,179,1264,1269,24.3,23.7,0.7119
9354,4/4/2005,12:00:00,2.4,1142,-200,12.4,1063,293,603,175,1241,1092,26.9,18.3,0.6406
9355,4/4/2005,13:00:00,2.1,1003,-200,9.5,961,235,702,156,1041,770,28.3,13.5,0.5139
9356,4/4/2005,14:00:00,2.2,1071,-200,11.9,1047,265,654,168,1129,816,28.5,13.1,0.5028

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   int64
 4   NMHC(GT)       9357 non-null   int64
 5   C6H6(GT)       9357 non-null   float64
 6   PT08.S2(NMHC)  9357 non-null   int64
 7   NOx(GT)        9357 non-null   int64
 8   PT08.S3(NOx)   9357 non-null   int64
 9   NO2(GT)        9357 non-null   int64
 10  PT08.S4(NO2)   9357 non-null   int64
 11  PT08.S5(O3)    9357 non-null   int64
 12  T              9357 non-null   float64
 13  RH             9357 non-null   float64
 14  AH             9357 non-null   float64
dtypes: float64(5), int64(8), object(2)
memory usage: 1.1+ MB

In [73]:
df['DateTime'] = pd.to_datetime(df['Date'] + ' ' + df['Time']).dt.strftime('%d-%m-%Y %H:%M')

In [81]:
dti = pd.DatetimeIndex(df['DateTime'],tz='Asia/Tashkent')
dti

DatetimeIndex(['2004-10-03 18:00:00+05:00', '2004-10-03 19:00:00+05:00',
               '2004-10-03 20:00:00+05:00', '2004-10-03 21:00:00+05:00',
               '2004-10-03 22:00:00+05:00', '2004-10-03 23:00:00+05:00',
               '2004-11-03 00:00:00+05:00', '2004-11-03 01:00:00+05:00',
               '2004-11-03 02:00:00+05:00', '2004-11-03 03:00:00+05:00',
               ...
               '2005-04-04 05:00:00+05:00', '2005-04-04 06:00:00+05:00',
               '2005-04-04 07:00:00+05:00', '2005-04-04 08:00:00+05:00',
               '2005-04-04 09:00:00+05:00', '2005-04-04 10:00:00+05:00',
               '2005-04-04 11:00:00+05:00', '2005-04-04 12:00:00+05:00',
               '2005-04-04 13:00:00+05:00', '2005-04-04 14:00:00+05:00'],
              dtype='datetime64[ns, Asia/Tashkent]', name='DateTime', length=9357, freq=None)

In [74]:
df[['DateTime', 'Date', 'Time']]

              DateTime       Date      Time
0     10-03-2004 18:00  3/10/2004  18:00:00
1     10-03-2004 19:00  3/10/2004  19:00:00
2     10-03-2004 20:00  3/10/2004  20:00:00
3     10-03-2004 21:00  3/10/2004  21:00:00
4     10-03-2004 22:00  3/10/2004  22:00:00
...                ...        ...       ...
9352  04-04-2005 10:00   4/4/2005  10:00:00
9353  04-04-2005 11:00   4/4/2005  11:00:00
9354  04-04-2005 12:00   4/4/2005  12:00:00
9355  04-04-2005 13:00   4/4/2005  13:00:00
9356  04-04-2005 14:00   4/4/2005  14:00:00

[9357 rows x 3 columns]