In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [3]:
olmos = sns.load_dataset('diamonds')
olmos

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [4]:
l0 = ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']
l1 = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
l2 = ['IF', 'VVS1', 'VVS2', 'VS1', 'VS2', 'SI1', 'SI2', 'I1']

ord_e = OrdinalEncoder(dtype=np.int8,
                       categories=[
                           l0[::-1],
                           l1[::-1],
                           l2[::-1]
                       ])

std_s = StandardScaler()

ct = ColumnTransformer(
    [
        ('ordinal', ord_e, [1, 2, 3]),
        ('standart', std_s, [0, 4, 5, 7, 8, 9])
    ],
    remainder='passthrough'
).set_output(transform='pandas')

ct_df = ct.fit_transform(olmos)
ct_df

,ordinal__cut,ordinal__color,ordinal__clarity,standart__carat,standart__depth,standart__table,standart__x,standart__y,standart__z,remainder__price
0,4,5,1,-1.198168,-0.174092,-1.099672,-1.587837,-1.536196,-1.571129,326
1,3,5,2,-1.240361,-1.360738,1.585529,-1.641325,-1.658774,-1.741175,326
2,1,5,4,-1.198168,-3.385019,3.375663,-1.498691,-1.457395,-1.741175,327
3,3,1,3,-1.071587,0.454133,0.242928,-1.364971,-1.317305,-1.287720,334
4,1,0,1,-1.029394,1.082358,0.242928,-1.240167,-1.212238,-1.117674,335
...,...,...,...,...,...,...,...,...,...,...
53935,4,6,2,-0.164427,-0.662711,-0.204605,0.016798,0.022304,-0.054888,2757
53936,1,6,2,-0.164427,0.942753,-1.099672,-0.036690,0.013548,0.100988,2757
53937,2,6,2,-0.206621,0.733344,1.137995,-0.063434,-0.047741,0.030135,2757
53938,3,2,1,0.130927,-0.523105,0.242928,0.373383,0.337506,0.285204,2757
53939,4,6,1,-0.101137,0.314528,-1.099672,0.088115,0.118616,0.143499,2757

In [5]:
y = ct_df.iloc[:, -1]
X = ct_df.iloc[:, :-1]  # iloc сначал  индекс строк потом колонок

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=25)

X_test

,ordinal__cut,ordinal__color,ordinal__clarity,standart__carat,standart__depth,standart__table,standart__x,standart__y,standart__z
39348,4,2,1,-0.544169,-0.104289,-0.652139,-0.428934,-0.397965,-0.423320
46003,4,6,3,-0.544169,-0.383500,-0.652139,-0.437849,-0.397965,-0.451661
29137,4,2,6,-1.008297,0.663542,-1.099672,-1.213423,-1.168460,-1.117674
25656,3,1,2,2.557052,-1.151330,0.690462,2.236543,2.149919,1.985662
24361,4,2,6,-1.050491,0.174922,-0.652139,-1.266910,-1.220993,-1.216867
...,...,...,...,...,...,...,...,...,...
51517,3,5,2,-0.164427,0.244725,0.242928,-0.009946,-0.038985,0.001794
20097,2,3,1,1.502215,1.012555,-1.099672,1.416396,1.344402,1.518036
27527,4,2,2,2.810213,0.314528,-1.099672,2.200884,2.219964,2.240730
52485,4,4,5,-0.501975,-0.453303,-0.652139,-0.339788,-0.319165,-0.380809
11371,4,5,2,-0.966104,0.314528,-1.099672,-1.142105,-1.089659,-1.075162

In [6]:
lr_m = LinearRegression()
lr_m.fit(X_train, y_train)

olmos['cut'].unique()

# l0 = ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']

# l1 = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
# # l1[::-1]

# olmos['color'].unique()

# olmos['clarity'].unique()

# l2 = ['IF', 'VVS1', 'VVS2', 'VS1', 'VS2', 'SI1', 'SI2', 'I1']

# ord_enc = OrdinalEncoder(categories=[l0[::-1],
#                                      l1[::-1],
#                                      l2[::-1]], dtype=np.int8)
# # ord_enc.fit(olmos[['cut', 'color','clarity']])
# # olmos[['cut', 'color', 'clarity']] = ord_enc.transform(olmos[['cut', 'color', 'clarity']])
# # olmos
# olmos[['cut', 'color', 'clarity']] = ord_enc.fit_transform(olmos[['cut', 'color', 'clarity']])


# OneHot - Nominal categories

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

ValueError: Columns must be same length as key

In [ ]:

df = sns.load_dataset('penguins')
df

df.info()

from sklearn.impute import SimpleImputer, KNNImputer

si = SimpleImputer(strategy='mean')
df['bill_length_mm'] = si.fit_transform(df[['bill_length_mm']])
df.info()

df.loc[df['bill_depth_mm'].isna()]

knn_i = KNNImputer(n_neighbors=3)
df['bill_depth_mm'] = knn_i.fit_transform(df[['bill_depth_mm']])
df.info()

df['bill_depth_mm'].mean().round(5)

df.loc[df['flipper_length_mm'].isna()]

# df.drop_duplicates(inplace=True)
# df.dropna(inplace=True)
# df

df['island'].unique()

hot_enc = OneHotEncoder(sparse_output=False, dtype=np.int8, drop='first')

df[['orol_2', 'orol_3', 'E']] = hot_enc.fit_transform(df[['island', 'sex']])
df

# hot_enc.fit_transform(df[['island']])

# label encoder
label_enc = LabelEncoder()

df['jins'] = label_enc.fit_transform(df['sex'])

df

sns.get_dataset_names()

df2 = sns.load_dataset('titanic')

df2.info()

df2.loc[df2['age'].isna()]

df2.loc[df2['who'] == 'child'].age.max()

df2.isna().sum()

df2.loc[df2['who'] == 'man', 'age'].max()

knn_ii = KNNImputer(n_neighbors=4)

df2['age'] = knn_ii.fit_transform(df2[['age']])
df2.info()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']