In [113]:
import numpy as np
import pandas as pd

In [114]:
s = pd.Series(np.arange(5), index=["a", "b", "c", "d", "e"])
s

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [115]:
d = {"a": 10, "b": 20, "c": 30, "g": 40}
pd.Series(d)

a    10
b    20
c    30
g    40
dtype: int64

In [116]:
index = ["a", "b", "c"]

pd.Series(6, index=index)

a    6
b    6
c    6
dtype: int64

In [117]:
s = pd.Series(np.arange(1, 6), index=["a", "b", "c", "d", "e"])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [118]:
s["a"]  # Один элемент

np.int64(1)

In [119]:
s[["a", "d"]]  # Несколько элементов

a    1
d    4
dtype: int64

In [120]:
s[1:]  # Срез

b    2
c    3
d    4
e    5
dtype: int64

In [121]:
s['c']

np.int64(3)

In [122]:
s + s  # Поэлементное сложение

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [123]:
s[s > 2]

c    3
d    4
e    5
dtype: int64

In [124]:
s.name = "Данные"
s.index.name = "Индекс"
s

Индекс
a    1
b    2
c    3
d    4
e    5
Name: Данные, dtype: int64

In [125]:
students_marks_dict = {
    "student": ["Студент_1", "Студент_2", "Студент_3"],
    "math": [5, 3, 4],
    "physics": [4, 5, 5]
}
students = pd.DataFrame(students_marks_dict)
students

     student  math  physics
0  Студент_1     5        4
1  Студент_2     3        5
2  Студент_3     4        5

In [126]:
print(students.index)
print(students.columns)

RangeIndex(start=0, stop=3, step=1)
Index(['student', 'math', 'physics'], dtype='object')

In [127]:
students.index = ["A", "B", "C"]
students

     student  math  physics
A  Студент_1     5        4
B  Студент_2     3        5
C  Студент_3     4        5

In [128]:
print(type(students["student"]))

<class 'pandas.core.series.Series'>